:root{
  --tableHeadBg: #121211;
  --tableHeadTextCol: #EEEAEE;
  --tableHeadBorderCol: #EEE9ED;
  --tableHeadPadding: 4px;
  --tableHeadTextSize: 14px;
  
  --tableBodyBg: #F7f7f7;
  --tableBodyTextCol: #121211;
  --tableBodyBorderCol: #EEE9ED;
  --tableBodyPadding: 20px;
  --tableBodyTextSize: 24px;
  
  --countryRowStatsColWidth: 150px;
  --countryRowStatsTextSize: 22px;
  --countryRowMatchesColWidth: 35%;
  --countryRowMatchesTextSize: 22px;

  --borderSize: 1px;
  --tableMarginBottom: 10px;

  --showBtnBg: #62c3a1;
  --showBtnHoverBg: #339975;
  --showBtnTextCol: #f1f1f1;
  --hideBtnBg: #f76957;
  --hideBtnHoverBg: #f8804d;
  /* --hideBtnHoverBg: #e33a3e; */
  --hideBtnTextCol: #f1f1f1;
}

.container{
  max-width: 2314px; /* 1528px for 2 col max */
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 750px);
  gap: 32px;
}
h1,h2{
  padding: 10px;
}
h1{
  text-align: center;
}
/*  */
/*  */
.toggleHideGroups{
  display: none;
}
.toggleHideMatches{
  display: none;
}
.showBtn{
  background: var(--showBtnBg);
  color: var(--showBtnTextCol);
}
.showBtn:hover{
  background: var(--showBtnHoverBg); 
  color: var(--hideBtnTextCol);
}
.hideBtn{
  background: var(--hideBtnBg); 
  color: var(--hideBtnTextCol);
}
.hideBtn:hover{
  background: var(--hideBtnHoverBg);
  color: var(--showBtnTextCol); 
}
/*  */
/*  */
.countryRowStats{
  width: var(--countryRowStatsColWidth);
  font-size: var(--countryRowStatsTextSize);
}
.countryRowMatches{
  width: var(--countryRowMatchesColWidth);
  font-size: var(--countryRowMatchesTextSize);
}

table {
  /* max-width: 750px; */
  width: 100%;
  overflow: hidden;
  background-color: var(--tableBodyBg);;
  border-collapse: separate;
  border-width: var(--borderSize);
  border-color: var(--tableBodyBorderCol);
  border-style: solid;
  color: var(--tableBodyTextCol);
  text-align: center;
  margin-bottom: var(--tableMarginBottom);
}
table td, th {
  border-width: var(--borderSize);
  border-color: var(--tableHeadBorderCol);
  border-style: solid;
}
table thead {
  background-color: var(--tableHeadBg);
  color: var(--tableHeadTextCol);
}
thead > tr > td{
  padding: var(--tableHeadPadding);
  font-size: var(--tableHeadTextSize);
}
tbody > tr > td{
  padding: var(--tableBodyPadding);
  font-size: var(--tableBodyTextSize);
}
/*  */
@media (max-width: 2336px){
  .container{
    max-width: 1564px;
  }
}
@media (max-width: 1585px){
  .container{
    max-width: 750px;
  }
  .collapse{
    display: flex;
  }
  button{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media (max-width: 767px){
  .container{
    display: block;
  }
  .hideOnMobile{
    display: none;
 }
}
@media (max-width: 370px){
  .hideOnTiny {
    display: none;
  }
}
